.servicos{
    background: linear-gradient(to left, #49c5b6, #1c1c1c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem;
}

.containerTexto{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerTexto h1{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}

.highlight{
    color: #49c5b6;
}

.tituloContainer{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.titulo{
    font-size: 1.5rem;
    color: #49c5b6
}

.borda{
    width: 35%;
    height: 1px;
    background-color: #aaa;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-around;
    align-items: center;
}